<!-- escape_javascript необходим, чтобы избежать результата при вставке HTML в файл JavaScript -->
$("#follow_form").html("<%= escape_javascript(render('users/unfollow')) %>");
$("#followers").html('<%= @user.followers.count %>');
